
<div class="container text-center" style="margin-top: 20px;">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Total Orders</h5>
                <div class="card-body">
                    <h3 class="card-title">{{totalOrders}}</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Orders Delivered</h5>
                <div class="card-body">
                    <h3 class="card-title">{{delivered}}</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Orders Pending</h5>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
